.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.grid-square {
    border: 1px solid #202020;
    height: 3rem;
    width: 3rem;
    margin: 0;
    background-color: white;
    /* margin: 5px; */
}

.color-hover {
    transform: scale(1.02);
    transition: all 100ms ease-out;
    background-color: rgb(55, 168, 102);
}

.title {
    height: 20%;
    width: 100%;
    background: rgb(124, 219, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.clear-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: 2px solid black;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
    width: 100%;
    margin-bottom: 5px;
}